@use '@angular/material' as mat;
@include mat.core();

$primary: #832B8F;
$primary-light: #B484B4;
$secondary: #3B3636;

$light-background: #EBE8EC;
$dark-backgroundL: #D9D9D9;

body{
    margin: 0;
}